body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

main{
 width: 75vw;
 height: 100vh;
 margin: 0;
}

#head{
  display: flex;
  justify-content: space-between;
  height: 25vh;
  width: 75vw;
}

#character {
  height: 100vh;
  width: 15vw;
  background-color: rgb(238, 193, 176);
  text-align: center;
  font-size: 35px;
}

#inventory{
  height: 100vh;
  width: 10vw;
  background-color: rgb(231, 229, 114);
}

#placeIcon{
  height: 25vh;
  width: 25vh;
  background-color: rgb(170, 209, 190);
  text-align: center;
}

#placeDescription{
  width: 50%;
  height: 25vh;
}

#scenaries{
  width: 100%;
  height: 60vh;
}

#pnjIcon{
  height: 25vh;
  width: 25vh;
  background-color: rgb(136, 137, 141);
  text-align: center;
}

#foot{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
}

#summary{
  width: 100%;
  height: 15vh;
  background-color: rgb(245, 194, 181);
}

#timer{
  width: 15vh;;
  height: 15vh;
  background-color: rgb(100, 200, 207);
}

#invent{
  font-size: 35px;
  width:1px;
  word-wrap: break-word;
  font-family: monospace;
}
.titles{
  font-size: 25px;
  text-align: center;  
}

.parag{
  font-size: 20px;
  text-align : center;
}

td{
  height: 33%;
  width: 20%;
  background-color: cadetblue;
}